
body{
    background:rgb(169, 168, 168);
    color: rgb(5, 5, 93);
    text-align: center}

header{
      background: rgb(5, 5, 93);
      color: rgb(221, 219, 219);
      text-align: center;
      max-width: 800px;
      margin: 0 auto;
      border: 5px solid #e3e303;   
      padding: 16px;
      font-family: "WindSong", cursive;
    }

main{

    color:black;
    display: flex;
    background: #b60000;
    text-align: center;
    max-width: 800px;
    margin: 16px 0 auto;
    border: 5px #061cbc;
    


}


img{


    width: 80px;
    height: 80px;
    margin: 0 auto;
}


.teste{

    color: rgb(139, 4, 121);

}